---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I'm Lahiru De Silva, a Senior Software Engineer at WSO2 with a strong passion for distributed
			systems, API management, and networking. I specialize in building scalable, cloud-native
			platforms and have a deep interest in the evolving cloud-native ecosystem.
		</p>
		<p>
			At WSO2, I collaborate closely with cross-functional teams to design, build, and deploy
			scalable, cloud-native systems. My work involves leveraging a wide range of cutting-edge CNCF
			technologies including Kubernetes, Envoy Proxy, Cilium, NGINX, OpenTelemetry, KEDA, and
			WebAssembly. I have deep expertise in Envoy Proxy, particularly in the areas of xDS control
			plane, custom filter development for extensibility, and deploying Envoy Proxy at scale.
		</p>
		<p>
			Before my role at WSO2, I completed Google Summer of Code 2021 with 3scale API management by
			Red Hat, Inc. where I implemented a caching layer for their Envoy proxy based API gateway. I
			am a Certified Kubernetes Administrator (CKA) and a Certified Kubernetes Application Developer
			(CKAD) with over four years of hands-on experience in Kubernetes and related cloud-native
			technologies, specifically around Kubernetes networking and API gateways.
		</p>
	</div>
</PageLayout>
